<!doctype html>
<html>
<title>Escalade</title>

<style>
    body{
        background-color: #384454;
    }
</style>
<body>

    <div style="position: relative;float: left; width: 100%;height: 50px; background-color:#E1A624;vertical-align: middle;line-height: 50px;text-align: center;">
        <a style="padding-left: 2%;" href = "{{url_for('accueil')}}">Accueil</a>
        <a style="padding-left: 2%;" href = "{{url_for('guide')}}">Recherche de Guides</a>
        <a style="padding-left: 2%;" href = "{{url_for('site')}}">Recherche de Voies</a>
        <a style="padding-left: 2%;" href = "{{url_for('sortie')}}">Sorties</a>
        <a style="float: right;" href="{{url_for('profil')}}"><img src = "{{ url_for('static', filename = 'profil.jpg') }}" alt = "logo_profil" width = "50"></a>
    </div>

    <div style="background-color: #D4D3DC;width: 33%;margin: 33%;margin-top: 5%;position: absolute;border: 4px solid black">
        <p style="text-align: center;font-size: 40px;">inscription</p>
        <form method="post" action="/register">
            <ul>
            <p style="margin-left: 24%;">email : <input type="text" name="email"></p>
            <p style="margin-left: 16%;">mot de passe : <input type="text" name="mdp"></p>
            </ul>
            <p style="text-align: center;">
                <input type="submit" value="Confirmer"><br>
                <br><a href="{{ url_for('connec') }}">Se connecter</a>
                </p>
        </form>
    </div>


</body>
</html>