<!doctype html>
<html>
<title>Escalade</title>

<style>
    body{
        background-color: #384454;
    }
</style>
<body>

    <div style="float: left; width: 100%;height: 50px; background-color:#E1A624;vertical-align: middle;line-height: 50px;text-align: center;">
        <a style="padding-left: 2%;" href = "{{url_for('accueil')}}">Accueil</a>
        <a style="padding-left: 2%;" href = "{{url_for('guide')}}">Recherche de Guides</a>
        <a style="padding-left: 2%;" href = "{{url_for('site')}}">Recherche de Voies</a>
        <a style="padding-left: 2%;" href = "{{url_for('sortie')}}">Sorties</a>
        <a style="padding-left: 2%;" href = "{{url_for('membres')}}">Membres</a>
        <a style="float: right;" href="{{url_for('profil')}}"><img src = "{{ url_for('static', filename = 'profil.jpg') }}" alt = "logo_profil" width = "50"></a>
    </div>

    <div style="background-color: #D4D3DC;width: 33%;margin: 33%;margin-top: 5%;position: absolute;border: 4px solid black">
        <p style="text-align: center;font-size: 40px;">profil de {{perso.nom}} {{perso.prenom}}:</p>
        <p style="text-align: center;">
            niveau : {{perso.diff_fr}}<br>
            <a href = "{{url_for('profcordee', email = email)}}">cordees</a><br>
            historique des voies grimpées:
        </p>
            <ul>
            {% for elem in voie %}
                <li>
                    <a href="{{url_for('prof_voie', id = elem.id_voie)}}">{{ elem.nom_voie }}</a>
                </li>
            {% endfor %}
            </ul>
    </div>

</body>
</html>